aiohttp
asyncio
aiofiles
pikepdf
numpy
ffmpeg
dnspython==2.1.0
gTTS
cachetools
pymediainfo
httpx[http2]
requests==2.25.1
future
googletrans==4.0.0-rc1
humanize==4.6.0
pillow==8.3.2
tqdm==4.65.0
bs4==0.0.1
beautifulsoup4==4.9.3
pyrate-limiter==2.0.0
motor
py-trans
psutil
pykeyboard
pyrogram
python-arq
requests
search-engine-parser
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
python-dotenv
feedparser
pyromod
fuzzysearch
img2pdf
telegraph
pytube
pytz
